div.scrollmenu {
  padding-left: 20px;
  padding-top: -10px;
  width: 100%;
  background-color: white;
  overflow: auto;
  position: relative;
  height: 220px;
}
div.icon a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-top: 0px;
}
div.icon a:hover {
  background-color: rgb(233, 227, 227);
  border-radius: 10px;
}
div.icon1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-top: 0px;
}
div.icon1 a:hover {
  background-color: rgb(233, 227, 227);
  border-radius: 20px;
}
.menu{
  position: relative;
    line-height: 20px;
    display: flex; 
    column-gap: 35px;
}
.menu1{
  position: relative;
    display: flex;
    margin-top: 5px;
    padding: 0px;
    column-gap: 34px;
}
p.text{
  position: relative;
  font-size: 13px;
  color: #00B0FF;
  font-style: italic; 
  margin-top: 70px;
  margin-left: -78px;
  padding-top: 0px;
  text-align: center;
}
 p.text1{
  position: relative;
  font-size: 13px;
  color: #00B0FF;
  font-style: italic;
  margin-top: 70px;
  margin-left: -78px;
  padding-top: 10px;  
  text-align: center;
}
.box{
  width: 50px;
  height: 50px;
  transition: 0.5s;
  padding-left: 0px; 
  position: relative;
    background-color: white;
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}
.box:hover{
  transform: scale3d(1,1,1);
  background-color: white;
}

.box:active{
  transform: scale3d(0,0,-1);
  background-color: white;
}
.box1{
  width: 50px;
  height: 50px;
  transition: 0.5s;
  padding-left: 0px; 
  position: relative;
    background-color: white;
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}
.box1:hover{
  transform: matrix3d();
  color:white;
}

.box1:active{
  transform: scale(-1);
  color: white;
}
.delicar{
  width: 70px;
  height: 50px;
  margin-top: -20px;
  margin-left: -20px;
}
.icon{
  position: relative;
  padding-top: 0px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.icon1{
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
justify-content: center;
}